.HomeMainContent {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  z-index: 1;
  padding: 10px;
  gap:10px;

}
.ContentItem{
  border-left: 1px solid var(--color-primary);
  padding: 10px;
}

.HomeMainContent h1 {
  margin: 0;
}

.ContentContainer{
  /* -webkit-box-shadow: 0px 11px 20px -7px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 11px 20px -7px rgba(0,0,0,0.21);
  box-shadow: 0px 11px 20px -7px rgba(0,0,0,0.21); */
  border: 1px solid var(--color-primary);
}

.InfoSection h1{
  text-align: center;
}

.BalanceInfo{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}
.BalanceInfo .Balance{
  font-size: 1.3rem;
}
.BalanceInfo .BalanceValue{
  font-size: 3rem;
  margin-left: 40px;
}

.BalanceInfo .BalanceCurrency{
  font-size: 1.8rem;
}