.Header{
    height: 5rem;
    display: flex;
    align-items: center;
    /* -webkit-box-shadow: 3px 3px 19px -11px rgba(0,0,0,0.67);
    -moz-box-shadow: 3px 3px 19px -11px rgba(0,0,0,0.67);
    box-shadow: 3px 3px 19px -11px rgba(0,0,0,0.67); */
    border-bottom: 1px solid var(--color-primary);
}
.HeaderContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Header .MuiButtonBase-root {
    border-radius: 3px;
    padding: 5px;
}
.Header .MuiSvgIcon-root{
    font-size: 3rem;
    
}

.HeaderContent .Logo img{
    height: 4rem;
}

.UserInfo .MuiButtonBase-root{
    height: 4rem;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.UserInfo .MuiButtonBase-root:hover{
    border: 1px solid #000;
}