html {
  --color-background: #191d2b;
  --color-background-dark: #10121b;
  --color-background-light: #2e344e;
  --color-secondary: #0B183F;
  --color-primary: #a4acc4;
  --color-blue: #1F6CD6;
  --color-green: #3CF16F;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: var(--color-background-dark); */
  color: var(--color-secondary);
  font-family: Nunito, sans-serif;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 45px;
}

@media (max-width: 370px){
  h1 {
    font-size: 37px;
  }
  p {
    font-size: 15px;
  }
  
}
